.weather-list-container {
  margin: 0 25px;
}

.weather-duration {
  font-weight: normal;
  margin: 10px 0 0 23px;
}
.weather-list {
    width: 70%;
    overflow-x: auto;
    padding: 0;
    margin-top: 0;
    display: flex;
    text-align: center;

    @media (max-width: 500px) {
      width: 100%;
    }
}
