.container-app {
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.list-container > h3 {
  text-decoration: none;
  font-weight: normal;
  margin: 20px 0 0 23px;
}
.list-container .cards {
  display: flex;
  width: 650px;
  flex-wrap: nowrap;
  padding-left: 0;
  overflow-x: auto;
  flex-direction: row;
  list-style: none;
  @media (max-width: 500px) {
    width: 305px;
  }
  @media (max-width: 300px) {
    width: 200px;
  }
}
.list-container .selected-card {
  padding: 0 10px 0 0;
}

.list-container .card-item {
  display: flex;
  padding: 10px 10px 10px 0;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}
.list-container .card-item .add-trip-container {
  display: flex;
  margin: 2px;
  padding: 1rem;
  min-width: 250px;
  min-height: 200px;
  @media (min-width: 40rem) {
    width: 35%;
  }
  @media (min-width: 56rem) {
    width: 25%;
  }
  @media (max-width: 900px) {
   width: 310px; 
  }
}
.list-container .not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container .cards-container {
  display: flex;
  align-items: center;
  margin: 0 25px;

  @media (max-width: 700px) {
    display: block
  }
}
.scroll-buttons {
  padding-left: 23px;
}

.btn-arrow {
  background-color: #9199a3; 
  color: #fff; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px; 
}
.btn-arrow:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.btn-arrow-left {
  margin-right: 5px;
}

.btn-arrow:hover {
  background-color: #9ba3ad; 
}